.modal {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    user-select: none;
    width: 100%;
    z-index: 100;
}

.modal::-webkit-scrollbar {
    display: none;
}

.modal .form-group {
    margin: 0 auto;
    margin-bottom: 18px;
    width: 70%;
}

.modal label {
    clear: both;
    display: block;
    font-size: 1.1em;
    font-weight: 700;
}

.modal input {
    font-size: 20px;
    height: 20px;
    width: 90%;
}

.modal textarea {
    font-size: 18px;
    height: 100px;
    resize: none;
    width: 89%;
}

.modal input, .modal textarea {
    border: 3px solid #000000;
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
}

.modal input:focus, .modal textarea:focus {
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.8);
}

.modal .modal-content {
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, 1);
    left: 50%;
    max-width: 600px;
    min-width: 400px;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 50%;
}

.modal .modal-content .modal-header {
    margin-bottom: 10px;
    padding: 10px;
}

.modal .modal-content .modal-header #close-modal {
    background: url(/Content//Images/close-modal.jpg) no-repeat;
    background-size: contain;
    border: 0;
    padding: 10px;
    position: fixed;
    right: 15px;
    top: 5px;
}

.modal .modal-content .modal-header h1 {
    margin: 0;
    text-align: center;
}

.modal .modal-content .modal-body {
    padding: 10px 0 5px 0;
}

.modal .modal-content .modal-footer {
    background-color: #646464;
    background-color: rgba(100, 100, 100, 0.9);
    height: 60px;
}

.modal .modal-content .modal-footer .btn {
    height: 100%;
    width: 100%;
}

#comment-0 {
    padding: 10px 5px 10px 5px;
}

.comment .comment {
    padding-left: 60px;
}

.comment .comment-content {
    background-color: rgb(138, 196, 215);
    border-radius: 10px;
    margin-bottom: 6px;
    opacity: 0.8;
    padding: 5px;
}

.comment .comment-content:hover {
    opacity: 1;
}

.comment h4 {
    margin: 0 0 5px 0;
}

.comment p {
    margin: 0;
}

.comment .reply {
    margin-top: 7px;
}