div.section {
    padding-bottom: 30px;
    border-bottom: 5px solid #000000;
    border-bottom: 5px solid rgba(0, 0, 0, 0.6);
    margin-top: 60px;
}

div.section > p.name {
        padding-left: 30px;
        margin-bottom: 10px;
        font-size: 3em;
    }

div.position div.team-member {
    float: left;
    display: block;
    margin-left: 30px;
    opacity: 0.6;
}

    div.position div.team-member:hover {
        opacity: 1;
    }

    div.position div.team-member p.name {
        margin-bottom: 10px;
        font-size: x-large;
        text-align: center;
    }

    div.position div.team-member div.image-container {
        border-bottom-width: 15px;
        border-bottom-style: solid;
        font-size: 0;
    }

div.position.goalkeepers div.team-member div.image-container {
    border-bottom-color: #ffff00;
    border-bottom-color: rgba(255, 255, 0, 0.7);
}

div.position.defenders div.team-member div.image-container {
    border-bottom-color: #00ff00;
    border-bottom-color: rgba(0, 255, 0, 0.7);
}

div.position.midfielders div.team-member div.image-container {
    border-bottom-color: #0000ff;
    border-bottom-color: rgba(0, 0, 255, 0.7);
}

div.position.attackers div.team-member div.image-container {
    border-bottom-color: #ff0000;
    border-bottom-color: rgba(255, 0, 0, 0.7);
}

div.position div.team-member img {
    width: 250px;
    height: 300px;
}

div.position div.team-member div.info {
    position: absolute;
    z-index: 1;
    display: none;
    height: auto;
    width: auto;
    padding: 20px;
    color: white;
    background: #000000;
    background: rgba(0, 0, 0, .9);
    font-size: 1.2em;
}

div.position div.team-member div.info p {
        margin: 0;
    }

div.position div.team-member:hover div.info {
    display: block;
}

div.formation {
    text-align: center;
}

    div.formation img {
        margin: auto;
        height: 700px;
        width: 600px;
    }

@media screen and (max-width: 865px) {
    div.formation img {
        margin: auto;
        height: 500px;
        width: 400px;
    }
}
