<!DOCTYPE html>
<html>
<head>
    <title>MAN UTD</title>
    <link rel="icon" href="~/Content/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Header.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Body.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Footer.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Best site of Manchester United" />
</head>
<body>
    <header class="clear-fix">
        <div id="logo">
            <img src="~/Content/Images/logo.png" alt="Logo" />
            <div id="menu-icon"></div>
        </div>
        <div class="menu closed">
            <ul class="dropdown clear-fix">
                <li class="item">
                    <a href="/News">Home</a>
                </li>
                <li class="item">
                    <a href="/Team">Team</a>
                </li>
                <li class="item has-dropdown hidden-dropdown">
                    <a>
                        History
                        <img class="toggle-dropdown" src="~/Content/Images/has-dropdown-white-down.png" alt="Show" />
                    </a>
                    <ul class="dropdown">
                        <li class="item"><a href="/TeamHistory">Team</a></li>
                        <li class="item"><a href="/Legends">Legends</a></li>
                    </ul>
                </li>
                <li class="item active">
                    <a href="/Fixtures">Fixtures</a>
                </li>
                <li class="item">
                    <a href="/Stadium">Stadium</a>
                </li>
                <li class="item">
                    <a href="/_4Fun">4Fun</a>
                </li>
                <li class="item has-dropdown hidden-dropdown">
                    <a>
                        Gallery
                        <img class="toggle-dropdown" src="~/Content/Images/has-dropdown-white-down.png" alt="Show" />
                    </a>
                    <ul class="dropdown right">
                        <li class="item"><a href="/TeamGallery">Team</a></li>
                        <li class="item"><a href="/StadiumGallery">Stadium</a></li>
                        <li class="item"><a href="/HistoryGallery">History</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div id="body">
        <h1>See you next season.</h1>           
    </div>
    <footer>
        <h4>
            Roberto Dereșu &copy; 2016
        </h4>
    </footer>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Header.js"></script>
</body>
</html>