<!DOCTYPE html>
<html>
<head>
    <title>MAN UTD</title>
    <link rel="icon" href="~/Content/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Header.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Body.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Footer.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/History.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Best site of Manchester United" />
</head>
<body>
    <header class="clear-fix">
        <div id="logo">
            <img src="~/Content/Images/logo.png" alt="Logo" />
            <div id="menu-icon"></div>
        </div>
        <div class="menu closed">
            <ul class="dropdown clear-fix">
                <li class="item">
                    <a href="/News">Home</a>
                </li>
                <li class="item">
                    <a href="/Team">Team</a>
                </li>
                <li class="item active has-dropdown hidden-dropdown">
                    <a>
                        History
                        <img class="toggle-dropdown" src="~/Content/Images/has-dropdown-white-down.png" alt="Show" />
                    </a>
                    <ul class="dropdown">
                        <li class="item"><a href="/TeamHistory">Team</a></li>
                        <li class="item active"><a href="/Legends">Legends</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="/Fixtures">Fixtures</a>
                </li>
                <li class="item">
                    <a href="/Stadium">Stadium</a>
                </li>
                <li class="item">
                    <a href="/_4Fun">4Fun</a>
                </li>
                <li class="item has-dropdown hidden-dropdown">
                    <a>
                        Gallery
                        <img class="toggle-dropdown" src="~/Content/Images/has-dropdown-white-down.png" alt="Show" />
                    </a>
                    <ul class="dropdown right">
                        <li class="item"><a href="/TeamGallery">Team</a></li>
                        <li class="item"><a href="/StadiumGallery">Stadium</a></li>
                        <li class="item"><a href="/HistoryGallery">History</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div id="body">
        <div class="legend">
            <p class="name">Sir Alex Ferguson</p>
            <img class="profile right" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Alex_Ferguson.jpg/450px-Alex_Ferguson.jpg" alt="" />
            <p>
                Sir Alexander Chapman "Alex" Ferguson, CBE (born 31 December 1941) is a former Scottish football manager and player who managed Manchester United from 1986 to 2013. He is regarded by many players, managers and analysts to be one of the greatest and most successful managers of all time. <br /><br />
                Ferguson played as a forward for several Scottish clubs, including Dunfermline Athletic and Rangers. While playing for Dunfermline, he was the top goalscorer in the Scottish league in the 1965–66 season. Towards the end of his playing career he also worked as a coach, then started his managerial career with East Stirlingshire and St Mirren. Ferguson then enjoyed a highly successful period as manager of Aberdeen, winning three Scottish league championships, four Scottish Cups and the UEFA Cup Winners' Cup in 1983. He briefly managed Scotland following the death of Jock Stein, taking the team to the 1986 World Cup. <br /><br />
                Ferguson was appointed manager of Manchester United in November 1986. During his 26 years with Manchester United he won 38 trophies, including 13 Premier League titles, five FA Cups and two UEFA Champions League titles. He was knighted in the 1999 Queen's Birthday Honours list, for his services to the game. Ferguson is the longest serving manager of Manchester United, having overtaken Sir Matt Busby's record on 19 December 2010. He retired from management at the end of the 2012–13 season, having won the Premier League in his final season. <br /><br />
                On 8 May 2013, Ferguson announced that he was to retire as manager at the end of the football season, but would remain at the club as a director and club ambassador. The Guardian announced it was the "end of an era", while UEFA president Michel Platini said that Ferguson was "a true visionary". British Prime Minister David Cameron described Ferguson as a "remarkable man in British football". Former Manchester United players Paul Ince and Bryan Robson agreed that Ferguson would be "a hard act to follow". Manchester United co-chairman Joel Glazer said "His determination to succeed and dedication to the club have been truly remarkable." Ferguson revealed that he had in fact decided that he was going to retire back in December 2012 and that it had been very difficult not to reveal his plans. <br /><br />
                In January, 2014, Ferguson was appointed as the UEFA Coaching Ambassador, and said it was "an honour and a privilege" to be given the role. In April 2014, it was announced that Ferguson would be taking up a "long-term teaching position" at Harvard University, where he would be lecturing on a new course titled "The Business of Entertainment, Media and Sports". This came six months after he revealed his blueprint for success was included in the Harvard Business Review in a series of interviews with Anita Elberse. His third book, Leadership, was published in collaboration with Michael Moritz in August 2015. <br /><br />
            </p>
        </div>
        <div class="legend">
            <p class="name">Ryan Giggs</p>
            <img class="profile left" src="https://metrouk2.files.wordpress.com/2013/12/185668727.jpg" alt="" />
            <p>
                Ryan Joseph Giggs, OBE (born 29 November 1973) is a Welsh football coach and former player who is currently the assistant manager at Manchester United and co-owner of Salford City. He played his entire professional career for Manchester United. The son of rugby league player Danny Wilson, Giggs was born in Cardiff but moved to Manchester at the age of six when his father joined Swinton RLFC. <br /><br />
                Predominantly a left winger, he began his career with Manchester City, but joined Manchester United on his 14th birthday in 1987. He made his professional debut for the club in 1991 and spent the next 23 years in the Manchester United first team. At the end of the 2013–14 season, he was named as Manchester United's interim player-manager following the sacking of David Moyes. He was named as assistant manager under Moyes' permanent replacement, Louis van Gaal, on 19 May 2014; he retired from playing the same day. He holds the club record for competitive appearances. At international level, Giggs played for the Wales national team 64 times between 1991 and 2007, and was named as the captain of the Great Britain team that competed at the 2012 Summer Olympics. <br /><br />
                Giggs is the most decorated player in football history. During his time at United, he won 13 Premier League winner's medals, four FA Cup winner's medals, three League Cup winner's medals, two Champions League winner's medals, a World Club Cup winners medal, an Intercontinental Cup winners medal, a UEFA Super Cup winners medal and nine FA Community Shield winners medals. Giggs captained the team on numerous occasions, particularly in the 2007–08 season when regular captain Gary Neville was ruled out with various injuries. <br /><br />
                Giggs also has a number of personal achievements. He was the first player in history to win two consecutive PFA Young Player of the Year awards (1992 and 1993), though he did not win the PFA Player of the Year award until 2009. He was the only player to play in each of the first 22 seasons of the Premier League, as well as the only player to score in each of the first 21 seasons. He was elected into the PFA Team of the Century in 2007, the Premier League Team of the Decade in 2003, as well as the FA Cup Team of the Century. Giggs holds the record for the most assists in Premier League history, with 271. He was named as BBC Sports Personality of the Year in 2009. In addition to the many honours Giggs has received within football, he was appointed an OBE in the Queen's 2007 Birthday Honours List for his services to football. <br /><br />
                Giggs was appointed as a player–coach at Manchester United on 4 July 2013, as part of the coaching staff under new manager David Moyes. When Moyes was sacked on 22 April 2014, after less than 10 months in the job, Giggs took over as the club's interim player-manager, compiling a record of two wins, a draw and a defeat in the final four games of the 2013–14 season. After his final match in charge, a 1–1 draw with Southampton, Giggs admitted to breaking down in tears, in part due to the pressure of managing United, and also said he had struggled to sleep during the period. When Louis van Gaal was announced as Moyes' permanent replacement on 19 May 2014, Giggs was also appointed as Van Gaal's assistant manager. <br /><br />
                Giggs was praised for giving debuts to youngsters James Wilson and Tom Lawrence in a 3–1 victory over Hull City, a game in which he brought himself on as a substitute for Lawrence. <br /><br />
                Giggs has been tipped by many including Louis van Gaal as the Dutchman's potential successor at Manchester United. <br /><br />
            </p>
        </div>
        <div class="legend">
            <p class="name">SIR BOBBY CHARLTON</p>
            <img class="profile left" src="http://i.telegraph.co.uk/multimedia/archive/00689/sport-graphics-2008_689865a.jpg" alt="" />
            <p>
                Sir Robert "Bobby" Charlton CBE (born 11 October 1937) is an English former football player, regarded as one of the greatest midfielders of all time, and an essential member of the England team who won the World Cup in 1966, the year he also won the Ballon d'Or. He played almost all of his club football at Manchester United, where he became renowned for his attacking instincts and passing abilities from midfield and his ferocious long-range shot. He was also well known for his fitness and stamina. He was cautioned only twice in his career; once against Argentina in the 1966 World Cup, and once in a league match against Chelsea. His elder brother Jack, who was also in the World Cup-winning team, is a former defender for Leeds United and international manager. <br /><br />
                Born in Ashington, Northumberland, Charlton made his debut for the Manchester United first-team in 1956, and over the next two seasons gained a regular place in the team, during which time he survived the Munich air disaster of 1958 after being rescued by Harry Gregg. After helping United to win the Football League in 1965, he won a World Cup medal with England in 1966 and another Football League title with United the following year. In 1968, he captained the Manchester United team that won the European Cup, scoring two goals in the final to help his team be the first English side to win the competition. He has scored more goals for United (249) than any other player and held the distinction of being England's all-time top goal scorer (49) from May 1968 to September 2015, when Wayne Rooney beat his England goal scoring record. Charlton held the record for most appearances for Manchester United (758), before being surpassed by Ryan Giggs. <br /><br />
                He was selected for four World Cups (1958, 1962, 1966, and 1970), and helped England to win the competition in 1966. At the time of his retirement from the England team in 1970, he was the nation's most capped player, having turned out 106 times at the highest level. This record has since been held by Bobby Moore and Peter Shilton. <br /><br />
                He left Manchester United to become manager of Preston North End for the 1973–74 season. He changed to player-manager the following season. He next accepted a post as a director with Wigan Athletic, then became a member of Manchester United's board of directors in 1984 and remains one as of the 2015/16 season. <br /><br />
            </p>
        </div>
        <div class="legend">
            <p class="name">PAUL SCHOLES</p>
            <img class="profile left" src="http://www.manutd.com/~/media/A12827005D9C4B069A69F54E8A0EDD87.ashx?h=311&la=ar-SA&w=240&rgn=130,0,2441,2998" alt="" />
            <p>
                Paul Scholes (born 16 November 1974) is a retired English footballer who played his entire professional career for Manchester United and is currently co-owner of Salford City. He is the most decorated English footballer of all time, and one of the most successful footballers in history, having won a total of 25 trophies, featuring 11 Premier League titles and two Champions League titles. <br /><br />
                Born in Salford and raised in Langley from infancy, Scholes excelled in both cricket and football while at school. He first trained with Manchester United at the age of 14 after being spotted by a scout visiting his school, signing for them as an apprentice on leaving school in 1991, and turning professional in 1993. He made his full debut for United in the 1994–95 season. Scholes represented the England national team from 1997 to 2004, gaining 66 caps and participating in the 1998 and 2002 World Cups, as well as the UEFA Euro 2000 and Euro 2004 tournaments. Over his career, he has received praise from other managers and players, including Xavi, who called him "the best central midfielder I've seen in the last 15, 20 years". Thierry Henry has cited Scholes as the greatest player in Premier League history. However, Scholes has also been criticised for his disciplinary record, amassing the fourth-most yellow cards in Premier League history with 97, and the most yellow cards in Champions League history with 32. <br /><br />
                Scholes made 718 appearances for United, the third-highest number of appearances by any player for the club. Scholes announced his retirement from playing on 31 May 2011, receiving a testimonial match, and began his coaching career at the club from the 2011–12 season onward. However, he reversed this decision on 8 January 2012, and went on to play one more season before retiring again in May 2013. <br /><br />
                Scholes was born at Hope Hospital in Salford, Greater Manchester, the son of Stewart and Marina Scholes. On his mother's side, his grandmother came from the Republic of Ireland while his grandfather was from Northern Ireland. Scholes has said that he looks out for the results of the Republic of Ireland team and hopes that they do well. The family moved to Langley, Greater Manchester when he was 18 months old, where he lived on Bowness Road and Talkin Drive. He attended the St Mary's RC Primary School in Langley. The first team he played for was Langley Furrows. Scholes also excelled at cricket. At age 14, he began training with Manchester United. He later joined as a trainee upon leaving the Cardinal Langley Roman Catholic High School in Middleton during the summer of 1991. In his final term at school, he was selected to represent Great Britain National Schools in football. <br /><br />
            </p>
        </div>
    </div>
    <footer>
        <h4>
            Roberto Dereșu &copy; 2016
        </h4>
    </footer>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Header.js"></script>
</body>
</html>