<!DOCTYPE html>
<html>
<head>
    <title>MAN UTD</title>
    <link rel="icon" href="~/Content/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Header.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Body.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Footer.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/News.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Best site of Manchester United" />
</head>
<body>
    <header class="clear-fix">
        <div id="logo">
            <img src="~/Content/Images/logo.png" alt="Logo" />
            <div id="menu-icon"></div>
        </div>
        <div class="menu closed">
            <ul class="dropdown clear-fix">
                <li class="item active">
                    <a href="/News">Home</a>
                </li>
                <li class="item">
                    <a href="/Team">Team</a>
                </li>
                <li class="item has-dropdown hidden-dropdown">
                    <a>
                        History
                        <img class="toggle-dropdown" src="~/Content/Images/has-dropdown-white-down.png" alt="Show" />
                    </a>
                    <ul class="dropdown">
                        <li class="item"><a href="/TeamHistory">Team</a></li>
                        <li class="item"><a href="/Legends">Legends</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="/Fixtures">Fixtures</a>
                </li>
                <li class="item">
                    <a href="/Stadium">Stadium</a>
                </li>
                <li class="item">
                    <a href="/_4Fun">4Fun</a>
                </li>
                <li class="item has-dropdown hidden-dropdown">
                    <a>
                        Gallery
                        <img class="toggle-dropdown" src="~/Content/Images/has-dropdown-white-down.png" alt="Show" />
                    </a>
                    <ul class="dropdown right">
                        <li class="item"><a href="/TeamGallery">Team</a></li>
                        <li class="item"><a href="/StadiumGallery">Stadium</a></li>
                        <li class="item"><a href="/HistoryGallery">History</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div id="body">
        <div id="news">
            <div class="news-item">
                <p class="name">MANCHESTER UNITED ANNOUNCES PRE-SEASON TOUR IN CHINA</p>
                <div class="images">
                    <img src="http://worldsoccertalk.com/wp-content/uploads/2016/03/man-united-china-2016-tour.jpg" alt="" />
                    <img src="http://images.thepeoplesperson.com/wp-content/uploads/2016/03/23074608/tour2016.jpg" alt="" />
                </div>
                <div class="news-item-content">
                    <p class="title"></p>
                    <p>
                        Manchester United have announced that they will travel to China this summer on their pre-season tour.
                        They will play two games - including a derby against Manchester City in the International Champions Cup.
                        They will face Manchester City in Beijing on Monday, July 25 They will also play Borussia Dortmund in Shanghai on Friday, July 22 .
                        The new Premier League season is set to begin on Saturday, August 13.
                        The eight-day tour forms part of United’s preparations for the 2016-17 Premier League season.
                        They are set to announce further dates and, venues and ticket details.
                        United's pre-season tour games are usually screened live on MUTV.
                        Speaking ahead of the tour, United’s Executive Vice Chairman, Ed Woodward, said: “Manchester United has strong historical links with China and we are very proud of our relationship and of our fans throughout the country.
                        “A total of almost 500,000 supporters have attended previous games during our visits to China and we have always enjoyed exceptional support in the country, so naturally it is something that everybody is very much looking forward to this summer.”
                        The game against City will be the highlight for many fans - especially if Jose Mourinho is appointed Louis van Gaal’s successor and comes up against his old rival Pep Guardiola.
                    </p>
                </div>
            </div>
            <div class="news-item">
                <p class="name">Return: Vidic is back at United</p>
                <div class="images">
                    <img src="http://i4.mirror.co.uk/incoming/article5975632.ece/ALTERNATES/s615/Football-Hardmen.jpg" alt="" />
                    <img src="http://www2.pictures.gi.zimbio.com/Nemanja+Vidic+Manchester+United+v+Sunderland+BpBZYntpv8el.jpg" alt="" />
                    <img src="https://scontent-frt3-1.cdninstagram.com/t51.2885-15/s750x750/sh0.08/e35/12424447_1022778511117247_1479076978_n.jpg?ig_cache_key=MTIxMTY1MDc1NzU2NzIxNTcxMQ%3D%3D.2" alt="" />
                </div>
                <div class="news-item-content">
                    <p class="title">Nemanja Vidic makes Manchester United return as club ambassador ahead of pre-season tour to China</p>
                    <p>
                        Nemanja Vidic is back at Manchester United - but in a rather different capacity to his former role.
                        The no-nonsense defender became a cult hero and club legend during his time at Old Trafford, starring alongside Rio Ferdinand to form part of one of the most formidable central pairings at all time.
                        Now, he has returned as a club ambassador ahead of the Red Devils' pre-season tour to China in the summer.
                        United will face local rivals Man City during the tour.
                        City had already announced their plans to visit China, with the two clubs now poised to meet in Beijing.
                        It will be the first time the two Manchester clubs have met outside of the UK, with both teams having agreed to take part in match
                    </p>
                </div>
            </div>
            <div class="news-item">
                <p class="name">Reds could miss out on BVB ace</p>
                <div class="images">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZIwv50bqoDiJ-hUIUW8Q7duciXh2x5jSgPBS2KlVOtZalw19o" alt="" />
                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTK5bT1DH3ebu71Nm_nKDs7CShHkGlx03uTqYajmW2mOFyvKi0z" alt="" />
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTz6zEtuLY5fyUFxRpuoGlLVVBcfNpNQsqaMZqdZlMH3qRGG4-gQw" alt="" />
                    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTbD_Q03dYmPLRsAg-49NRJbXli8b-qBdEB6UOJy3H4inLalIOmgA" alt="" />
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO6D2jDqv7_92OmCS0scgvCI3YR1sNY-Jy07Q7BXYIgeVT1uN9kA" alt="" />
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF79dXCIJnZGUXG_UXGxQ8UNIH_vYp1eBxLtLiCYbgLgrX6506Vg" alt="" />
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSXuBAptf9VIQ8NESXf3b8GKi67GZ5j1kbVdqmZv57a_mbfjKrU" alt="" />
                </div>
                <div class="news-item-content">
                    <p class="title"></p>
                    <p>
                        According to sources in Germany, Chelsea have approached former United target Mats Hummels.
                        Sports Bild have reported that Chelsea are heavily interested in the Borussia Dortmund defender with skipper and club legend John Terry on his way out of Stamford Bridge.
                        Louis Van Gaal would have seen plenty of Hummels during his time at Bayern Munich between 2009 and 2011 before he took the Holland national team role.
                        The German centre back was reportedly a transfer target for Van Gaal last summer but with him being heavily linked with a move to the Premier League, it looks like Chelsea are leading the way in earning his signature. <br />
                        Hummels has plenty of big game experience having helped Dortmund to consecutive Bundesliga titles in 2011 and 2012.
                        He was also part of the side that finished runners up in the 2013 Champions League, losing to Bayern in the Wembley final, as well as winning the World Cup with Germany a year later.
                        If United are to fight off the interest of Chelsea then Hummels may also be tempted by Liverpool to re-join his former manager Jurgen Klopp. <br />
                        However, if Van Gaal could bring his former player to Old Trafford it could help build a United defence worthy of challenging the best in Europe.
                        Chris Smalling has been one of the success stories under Van Gaal but Hummels joining him in the United backline would be a real statement of intent.
                        It would definitely be tough seeing Mats in Blue if it does happen after United’s long-standing interest. <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <h4>
            Roberto Dereșu &copy; 2016
        </h4>
    </footer>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Header.js"></script>
</body>
</html>