<!DOCTYPE html>
<html>
<head>
    <title>MAN UTD</title>
    <link rel="icon" href="~/Content/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Header.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Body.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Footer.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Gallery.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Best site of Manchester United" />
</head>
<body>
    <header class="clear-fix">
        <div id="logo">
            <img src="~/Content/Images/logo.png" alt="Logo" />
            <div id="menu-icon"></div>
        </div>
        <div class="menu closed">
            <ul class="dropdown clear-fix">
                <li class="item">
                    <a href="/News">Home</a>
                </li>
                <li class="item">
                    <a href="/Team">Team</a>
                </li>
                <li class="item has-dropdown hidden-dropdown">
                    <a>
                        History
                        <img class="toggle-dropdown" src="~/Content/Images/has-dropdown-white-down.png" alt="Show" />
                    </a>
                    <ul class="dropdown">
                        <li class="item"><a href="/TeamHistory">Team</a></li>
                        <li class="item"><a href="/Legends">Legends</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="/Fixtures">Fixtures</a>
                </li>
                <li class="item">
                    <a href="/Stadium">Stadium</a>
                </li>
                <li class="item">
                    <a href="/_4Fun">4Fun</a>
                </li>
                <li class="item active has-dropdown hidden-dropdown">
                    <a>
                        Gallery
                        <img class="toggle-dropdown" src="~/Content/Images/has-dropdown-white-down.png" alt="Show" />
                    </a>
                    <ul class="dropdown right">
                        <li class="item"><a href="/TeamGallery">Team</a></li>
                        <li class="item active"><a href="/StadiumGallery">Stadium</a></li>
                        <li class="item"><a href="/HistoryGallery">History</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div id="body">
        <p class="gallery-name">Stadium</p>
        <div class="gallery">
            <img class="main-image" src="." alt="Main image">
            <img class="change-image left" src="~/Content/Images/arrow-left-new.jpg" alt="Next" data-direction="left" />
            <img class="change-image right" src="~/Content/Images/arrow-right-new.jpg" alt="Prev" data-direction="right" />
            <div class="images clear-fix">
                <img src="https://i.ytimg.com/vi/V_W9CmGF7kY/maxresdefault.jpg" alt="" title="" />
                <img src="http://masbradwall.com/wp-content/uploads/2016/03/Old-Trafford-Wallpaper-w8MfU.jpg" alt="" title="" />
                <img src="https://manunitedwallpaper.files.wordpress.com/2012/05/old-trafford-wallpaper-2012-2013-before-kick-off.jpg" alt="" title="" />
                <img src="http://premier-league.xyz/wp-content/uploads/2015/03/Manchester-united-FC-stadium-5.jpg" alt="" title="" />
                <img src="http://cdn.images.express.co.uk/img/dynamic/67/590x/Manchester-United-Man-United-Man-United-News-Man-United-Youth-Stadium-Man-United-Stadium-Old-Trafford-Old-Trafford-Stadium-627936.jpg" alt="" title="" />
                <img src="http://4.bp.blogspot.com/-iAd5U3arcvg/UIVzHYGOWBI/AAAAAAAACV0/L-U1Fl5p_dw/s1600/Stadion+Old+Trafford+-+Manchester+United5.jpg" alt="" title="" />
                <img src="http://2.bp.blogspot.com/-n3ocen2hEwQ/VbsjWXhY0yI/AAAAAAAAoqM/g0kKy909-zQ/s1600/manchester-is-red-old-trafford-is-being-prepared-for-the-adidas-kit-launch-2.jpg" alt="" title="" />
                <img src="http://i.dailymail.co.uk/i/pix/2015/01/21/24E71B6800000578-2919808-image-a-24_1421839325054.jpg" alt="" title="" />
                <img src="http://i.dailymail.co.uk/i/pix/2014/11/18/1B709F22000005DC-0-image-2_1416313624715.jpg" alt="" title="" />
                <img src="https://manunitedwallpaper.files.wordpress.com/2012/05/old-trafford-wallpaper-2012-2013-saf-stand-at-night.jpg" alt="" title="" />
                <img src="http://www.manutd.com/~/media/Images/Fanzone/Wallpapers/OldTrafford/SunnyAfternoon.ashx?w=2560&h=1600" alt="" title="" />
                <img src="http://www.iso.org/iso/img_ref1690_03.jpg" alt="" title="" />
                <img src="http://masbradwall.com/wp-content/uploads/2016/03/Old-Trafford-Wallpaper-UExRc.jpg" alt="" title="" />
                <img src="https://i.ytimg.com/vi/V_W9CmGF7kY/maxresdefault.jpg" alt="" title="" />
                <img src="http://masbradwall.com/wp-content/uploads/2016/03/Old-Trafford-Wallpaper-w8MfU.jpg" alt="" title="" />
                <img src="https://manunitedwallpaper.files.wordpress.com/2012/05/old-trafford-wallpaper-2012-2013-before-kick-off.jpg" alt="" title="" />
                <img src="http://premier-league.xyz/wp-content/uploads/2015/03/Manchester-united-FC-stadium-5.jpg" alt="" title="" />
                <img src="http://cdn.images.express.co.uk/img/dynamic/67/590x/Manchester-United-Man-United-Man-United-News-Man-United-Youth-Stadium-Man-United-Stadium-Old-Trafford-Old-Trafford-Stadium-627936.jpg" alt="" title="" />
                <img src="http://4.bp.blogspot.com/-iAd5U3arcvg/UIVzHYGOWBI/AAAAAAAACV0/L-U1Fl5p_dw/s1600/Stadion+Old+Trafford+-+Manchester+United5.jpg" alt="" title="" />
                <img src="http://2.bp.blogspot.com/-n3ocen2hEwQ/VbsjWXhY0yI/AAAAAAAAoqM/g0kKy909-zQ/s1600/manchester-is-red-old-trafford-is-being-prepared-for-the-adidas-kit-launch-2.jpg" alt="" title="" />
                <img src="http://i.dailymail.co.uk/i/pix/2015/01/21/24E71B6800000578-2919808-image-a-24_1421839325054.jpg" alt="" title="" />
                <img src="http://i.dailymail.co.uk/i/pix/2014/11/18/1B709F22000005DC-0-image-2_1416313624715.jpg" alt="" title="" />
                <img src="https://manunitedwallpaper.files.wordpress.com/2012/05/old-trafford-wallpaper-2012-2013-saf-stand-at-night.jpg" alt="" title="" />
                <img src="http://www.manutd.com/~/media/Images/Fanzone/Wallpapers/OldTrafford/SunnyAfternoon.ashx?w=2560&h=1600" alt="" title="" />
                <img src="http://www.iso.org/iso/img_ref1690_03.jpg" alt="" title="" />
                <img src="http://masbradwall.com/wp-content/uploads/2016/03/Old-Trafford-Wallpaper-UExRc.jpg" alt="" title="" />
                <img src="https://i.ytimg.com/vi/V_W9CmGF7kY/maxresdefault.jpg" alt="" title="" />
                <img src="http://masbradwall.com/wp-content/uploads/2016/03/Old-Trafford-Wallpaper-w8MfU.jpg" alt="" title="" />
                <img src="https://manunitedwallpaper.files.wordpress.com/2012/05/old-trafford-wallpaper-2012-2013-before-kick-off.jpg" alt="" title="" />
                <img src="http://premier-league.xyz/wp-content/uploads/2015/03/Manchester-united-FC-stadium-5.jpg" alt="" title="" />
                <img src="http://cdn.images.express.co.uk/img/dynamic/67/590x/Manchester-United-Man-United-Man-United-News-Man-United-Youth-Stadium-Man-United-Stadium-Old-Trafford-Old-Trafford-Stadium-627936.jpg" alt="" title="" />
                <img src="http://4.bp.blogspot.com/-iAd5U3arcvg/UIVzHYGOWBI/AAAAAAAACV0/L-U1Fl5p_dw/s1600/Stadion+Old+Trafford+-+Manchester+United5.jpg" alt="" title="" />
                <img src="http://2.bp.blogspot.com/-n3ocen2hEwQ/VbsjWXhY0yI/AAAAAAAAoqM/g0kKy909-zQ/s1600/manchester-is-red-old-trafford-is-being-prepared-for-the-adidas-kit-launch-2.jpg" alt="" title="" />
                <img src="http://i.dailymail.co.uk/i/pix/2015/01/21/24E71B6800000578-2919808-image-a-24_1421839325054.jpg" alt="" title="" />
                <img src="http://i.dailymail.co.uk/i/pix/2014/11/18/1B709F22000005DC-0-image-2_1416313624715.jpg" alt="" title="" />
                <img src="https://manunitedwallpaper.files.wordpress.com/2012/05/old-trafford-wallpaper-2012-2013-saf-stand-at-night.jpg" alt="" title="" />
                <img src="http://www.manutd.com/~/media/Images/Fanzone/Wallpapers/OldTrafford/SunnyAfternoon.ashx?w=2560&h=1600" alt="" title="" />
                <img src="http://www.iso.org/iso/img_ref1690_03.jpg" alt="" title="" />
                <img src="http://masbradwall.com/wp-content/uploads/2016/03/Old-Trafford-Wallpaper-UExRc.jpg" alt="" title="" />
            </div>
        </div>
    </div>
    <footer>
        <h4>
            Roberto Dereșu &copy; 2016
        </h4>
    </footer>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Header.js"></script>
    <script type="text/javascript" src="~/Scripts/Gallery.js"></script>
</body>
</html>