<!DOCTYPE html>
<html>
<head>
    <title>MAN UTD</title>
    <link rel="icon" href="~/Content/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Header.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Body.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Footer.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Stadium.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Best site of Manchester United" />
</head>
<body>
    <header class="clear-fix">
        <div id="logo">
            <img src="~/Content/Images/logo.png" alt="Logo" />
            <div id="menu-icon"></div>
        </div>
        <div class="menu closed">
            <ul class="dropdown clear-fix">
                <li class="item">
                    <a href="/News">Home</a>
                </li>
                <li class="item">
                    <a href="/Team">Team</a>
                </li>
                <li class="item has-dropdown hidden-dropdown">
                    <a>
                        History
                        <img class="toggle-dropdown" src="~/Content/Images/has-dropdown-white-down.png" alt="Show" />
                    </a>
                    <ul class="dropdown">
                        <li class="item"><a href="/TeamHistory">Team</a></li>
                        <li class="item"><a href="/Legends">Legends</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="/Fixtures">Fixtures</a>
                </li>
                <li class="item active">
                    <a href="/Stadium">Stadium</a>
                </li>
                <li class="item">
                    <a href="/_4Fun">4Fun</a>
                </li>
                <li class="item has-dropdown hidden-dropdown">
                    <a>
                        Gallery
                        <img class="toggle-dropdown" src="~/Content/Images/has-dropdown-white-down.png" alt="Show" />
                    </a>
                    <ul class="dropdown right">
                        <li class="item"><a href="/TeamGallery">Team</a></li>
                        <li class="item"><a href="/StadiumGallery">Stadium</a></li>
                        <li class="item"><a href="/HistoryGallery">History</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div id="body">
        <div id="stadium">
            <p class="name">Old Trafford</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/43/Old_Trafford_inside_20060726_1.jpg" alt="" />
            <p>
                Old Trafford is a football stadium in Old Trafford, Greater Manchester, England, and the home of Manchester United. With a capacity of 75,635, it is the largest club stadium of any football team in the United Kingdom, the third-largest stadium and the second-largest football stadium in the United Kingdom, and the eleventh-largest in Europe. It is about 0.5 miles (800 m) from Old Trafford Cricket Ground and the adjacent tram stop. <br /><br />
                Old Trafford, nicknamed "The Theatre of Dreams" by Bobby Charlton, has been United's home ground since 1910, although from 1941 to 1949, the club shared Maine Road with local rivals Manchester City as a result of Second World War bomb damage. Old Trafford underwent several expansions in the 1990s and 2000s, including the addition of extra tiers to the North, West and East Stands, almost returning the stadium to its original capacity of 80,000. Future expansion is likely to involve the addition of a second tier to the South Stand, which would raise the capacity to around 95,000. The stadium's record attendance was recorded in 1939, when 76,962 spectators watched the FA Cup semi-final between Wolverhampton Wanderers and Grimsby Town. <br /><br />
                Old Trafford has hosted FA Cup semi-finals, England fixtures, matches at the 1966 World Cup and Euro 96 and the 2003 Champions League Final, as well as rugby league's annual Super League Grand Final and the final of two Rugby League World Cups. It also hosted football matches at the 2012 Summer Olympics, including women's international football for the first time in its history.<br /><br />
            </p>
        </div>
    </div>
    <footer>
        <h4>
            Roberto Dereșu &copy; 2016
        </h4>
    </footer>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Header.js"></script>
</body>
</html>