<!DOCTYPE html>
<html>
<head>
    <title>MAN UTD</title>
    <link rel="icon" href="~/Content/Images/logo.png">
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Header.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Body.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Footer.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Gallery.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Best site of Manchester United" />
</head>
<body>
    <header class="clear-fix">
        <div id="logo">
            <img src="~/Content/Images/logo.png" alt="Logo" />
            <div id="menu-icon"></div>
        </div>
        <div class="menu closed">
            <ul class="dropdown clear-fix">
                <li class="item">
                    <a href="/News">Home</a>
                </li>
                <li class="item">
                    <a href="/Team">Team</a>
                </li>
                <li class="item has-dropdown hidden-dropdown">
                    <a>
                        History
                        <img class="toggle-dropdown" src="~/Content/Images/has-dropdown-white-down.png" alt="Show" />
                    </a>
                    <ul class="dropdown">
                        <li class="item"><a href="/TeamHistory">Team</a></li>
                        <li class="item"><a href="/Legends">Legends</a></li>
                    </ul>
                </li>
                <li class="item">
                    <a href="/Fixtures">Fixtures</a>
                </li>
                <li class="item">
                    <a href="/Stadium">Stadium</a>
                </li>
                <li class="item">
                    <a href="/_4Fun">4Fun</a>
                </li>
                <li class="item active has-dropdown hidden-dropdown">
                    <a>
                        Gallery
                        <img class="toggle-dropdown" src="~/Content/Images/has-dropdown-white-down.png" alt="Show" />
                    </a>
                    <ul class="dropdown right">
                        <li class="item active"><a href="/TeamGallery">Team</a></li>
                        <li class="item"><a href="/StadiumGallery">Stadium</a></li>
                        <li class="item"><a href="/HistoryGallery">History</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
    <div id="body">
        <p class="gallery-name">Team</p>
        <div class="gallery">
            <img class="main-image" src="." alt="Main image">
            <img class="change-image left" src="~/Content/Images/arrow-left-new.jpg" alt="Next" data-direction="left" />
            <img class="change-image right" src="~/Content/Images/arrow-right-new.jpg" alt="Prev" data-direction="right" />
            <div class="images">
                <img src="http://www.manutd.com/sitecore/shell/~/media/C34C050EF4024BDBA444864FA0D98942.ashx?w=1280&h=720&rgn=620,79,1640,652" alt="" title="" />
                <img src="http://s.weltsport.net/bilder/teamfotos/640x360/543.jpg" alt="" title="">
                <img src="http://img.bleacherreport.net/img/images/photos/003/565/952/hi-res-52bd8e44478312d5bb8b1966a0c067e9_crop_north.jpg?w=630&h=420&q=75" alt="" title="">
                <img src="http://www.manutd.com/~/media/C323E9C3774B4C33B5203694CFFA3330.ashx?w=1280&h=720" alt="" title="" />
                <img src="http://www.squawka.com/news/wp-content/uploads/2015/08/4658933.jpg" alt="" title="" />
                <img src="http://www.manutd.com/~/media/EEBDC2AF5A4C4D70AFFBD9963DB77F43.ashx?w=1280&h=720" alt="" title="" />
                <img src="http://a.espncdn.com/combiner/i/?img=/media/motion/ESPNi/2016/0112/int_160112_INET_FC_MAN_U_REVIEW/int_160112_INET_FC_MAN_U_REVIEW.jpg&w=738&site=espnfc" alt="" title="" />
                <img src="http://b.smimg.net/15/32/640x480/tottenham-hotspur-kyle-walker.jpg" alt="" title="" />
                <img src="http://sitedeaposta.net/wp-content/uploads/2015/08/manchester-united-champions-lague-2015.jpg" alt="" title="" />
                <img src="http://images.en.yibada.com/data/images/full/51090/manchester-united-will-be-looking-to-continue-their-unbeaten-run-in-the-2015-2016-premier-league.jpg?w=685" alt="" title="" />
                <img src="https://www.calendarclub.co.uk/~/media/productimages/16/06/160631_main.jpg" alt="" title="" />
                <img src="http://cache4.asset-cache.net/gc/505557358-will-keane-of-manchester-united-u21s-in-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXvJJKWr2JohaEb2FkqLnZ2B%2BQwFVTkCWZI1RIvLpQrSKxtJZ4UBFSyPMJaW49Qi4UuFgL3skaYstOAslZIC152I%3D" alt="" title="" />
                <img src="http://cache4.asset-cache.net/gc/512311840-marcos-rojo-of-manchester-united-in-action-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXiYteYBtzvjF9MH75At39gLNd%2FCJWufGO5JS7G%2Bkuzg63wpi6YWNEUb26%2BFvnUTicpAifUFbUjaDf5h%2Fpfqjpfw%3D" alt="" title="" />
                <img src="http://cache3.asset-cache.net/gc/510830074-memphis-depay-of-manchester-united-in-action-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXhr%2B50M4I1mAzt6JAhRl7GVYhJL7DV6KsG3%2BEv%2FuT%2BEHivrlg5oNN%2FgO1qD%2B2bIekKBISitsiIGZVVHosqJ29uw%3D" alt="" title="" />
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQkLOE8MlMnToTT9pgLjyJfTDmfC5uVAR-UXcGyAQQeDvVUa64Y" alt="" title="" />
                <img src="http://img.bleacherreport.net/img/images/photos/003/563/729/hi-res-52964e00c623987c42a05a5d46d42b47_crop_north.jpg?w=630&h=420&q=75" alt="" title="" />
                <img src="https://i.ytimg.com/vi/JDjYnHmSoys/maxresdefault.jpg" alt="" title="" />
                <img src="http://ukbuzz.wordpress.eurosport.com/wp-content/uploads/sites/11/2015/08/RTX1NKDC-1170x658.jpg" alt="" title="" />
                <img src="http://www.manutd.com/~/media/C323E9C3774B4C33B5203694CFFA3330.ashx?w=1280&h=720" alt="" title="" />
                <img src="http://www.squawka.com/news/wp-content/uploads/2015/08/4658933.jpg" alt="" title="" />
                <img src="http://www.manutd.com/~/media/EEBDC2AF5A4C4D70AFFBD9963DB77F43.ashx?w=1280&h=720" alt="" title="" />
                <img src="http://a.espncdn.com/combiner/i/?img=/media/motion/ESPNi/2016/0112/int_160112_INET_FC_MAN_U_REVIEW/int_160112_INET_FC_MAN_U_REVIEW.jpg&w=738&site=espnfc" alt="" title="" />
                <img src="http://b.smimg.net/15/32/640x480/tottenham-hotspur-kyle-walker.jpg" alt="" title="" />
                <img src="http://sitedeaposta.net/wp-content/uploads/2015/08/manchester-united-champions-lague-2015.jpg" alt="" title="" />
                <img src="http://images.en.yibada.com/data/images/full/51090/manchester-united-will-be-looking-to-continue-their-unbeaten-run-in-the-2015-2016-premier-league.jpg?w=685" alt="" title="" />
                <img src="https://www.calendarclub.co.uk/~/media/productimages/16/06/160631_main.jpg" alt="" title="" />
                <img src="http://cache4.asset-cache.net/gc/505557358-will-keane-of-manchester-united-u21s-in-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXvJJKWr2JohaEb2FkqLnZ2B%2BQwFVTkCWZI1RIvLpQrSKxtJZ4UBFSyPMJaW49Qi4UuFgL3skaYstOAslZIC152I%3D" alt="" title="" />
                <img src="http://cache4.asset-cache.net/gc/512311840-marcos-rojo-of-manchester-united-in-action-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXiYteYBtzvjF9MH75At39gLNd%2FCJWufGO5JS7G%2Bkuzg63wpi6YWNEUb26%2BFvnUTicpAifUFbUjaDf5h%2Fpfqjpfw%3D" alt="" title="" />
                <img src="http://cache3.asset-cache.net/gc/510830074-memphis-depay-of-manchester-united-in-action-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXhr%2B50M4I1mAzt6JAhRl7GVYhJL7DV6KsG3%2BEv%2FuT%2BEHivrlg5oNN%2FgO1qD%2B2bIekKBISitsiIGZVVHosqJ29uw%3D" alt="" title="" />
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQkLOE8MlMnToTT9pgLjyJfTDmfC5uVAR-UXcGyAQQeDvVUa64Y" alt="" title="" />
                <img src="http://img.bleacherreport.net/img/images/photos/003/563/729/hi-res-52964e00c623987c42a05a5d46d42b47_crop_north.jpg?w=630&h=420&q=75" alt="" title="" />
                <img src="https://i.ytimg.com/vi/JDjYnHmSoys/maxresdefault.jpg" alt="" title="" />
                <img src="http://ukbuzz.wordpress.eurosport.com/wp-content/uploads/sites/11/2015/08/RTX1NKDC-1170x658.jpg" alt="" title="" />
                <img src="http://b.smimg.net/15/32/640x480/tottenham-hotspur-kyle-walker.jpg" alt="" title="" />
                <img src="http://sitedeaposta.net/wp-content/uploads/2015/08/manchester-united-champions-lague-2015.jpg" alt="" title="" />
                <img src="http://images.en.yibada.com/data/images/full/51090/manchester-united-will-be-looking-to-continue-their-unbeaten-run-in-the-2015-2016-premier-league.jpg?w=685" alt="" title="" />
                <img src="https://www.calendarclub.co.uk/~/media/productimages/16/06/160631_main.jpg" alt="" title="" />
                <img src="http://cache4.asset-cache.net/gc/505557358-will-keane-of-manchester-united-u21s-in-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXvJJKWr2JohaEb2FkqLnZ2B%2BQwFVTkCWZI1RIvLpQrSKxtJZ4UBFSyPMJaW49Qi4UuFgL3skaYstOAslZIC152I%3D" alt="" title="" />
                <img src="http://cache4.asset-cache.net/gc/512311840-marcos-rojo-of-manchester-united-in-action-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXiYteYBtzvjF9MH75At39gLNd%2FCJWufGO5JS7G%2Bkuzg63wpi6YWNEUb26%2BFvnUTicpAifUFbUjaDf5h%2Fpfqjpfw%3D" alt="" title="" />
                <img src="http://cache3.asset-cache.net/gc/510830074-memphis-depay-of-manchester-united-in-action-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXhr%2B50M4I1mAzt6JAhRl7GVYhJL7DV6KsG3%2BEv%2FuT%2BEHivrlg5oNN%2FgO1qD%2B2bIekKBISitsiIGZVVHosqJ29uw%3D" alt="" title="" />
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQkLOE8MlMnToTT9pgLjyJfTDmfC5uVAR-UXcGyAQQeDvVUa64Y" alt="" title="" />
                <img src="http://img.bleacherreport.net/img/images/photos/003/563/729/hi-res-52964e00c623987c42a05a5d46d42b47_crop_north.jpg?w=630&h=420&q=75" alt="" title="" />
                <img src="https://i.ytimg.com/vi/JDjYnHmSoys/maxresdefault.jpg" alt="" title="" />
                <img src="http://ukbuzz.wordpress.eurosport.com/wp-content/uploads/sites/11/2015/08/RTX1NKDC-1170x658.jpg" alt="" title="" />
                <img src="http://www.manutd.com/~/media/C323E9C3774B4C33B5203694CFFA3330.ashx?w=1280&h=720" alt="" title="" />
                <img src="http://www.squawka.com/news/wp-content/uploads/2015/08/4658933.jpg" alt="" title="" />
                <img src="http://www.manutd.com/~/media/EEBDC2AF5A4C4D70AFFBD9963DB77F43.ashx?w=1280&h=720" alt="" title="" />
                <img src="http://images.en.yibada.com/data/images/full/51090/manchester-united-will-be-looking-to-continue-their-unbeaten-run-in-the-2015-2016-premier-league.jpg?w=685" alt="" title="" />
                <img src="https://www.calendarclub.co.uk/~/media/productimages/16/06/160631_main.jpg" alt="" title="" />
                <img src="http://cache4.asset-cache.net/gc/505557358-will-keane-of-manchester-united-u21s-in-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXvJJKWr2JohaEb2FkqLnZ2B%2BQwFVTkCWZI1RIvLpQrSKxtJZ4UBFSyPMJaW49Qi4UuFgL3skaYstOAslZIC152I%3D" alt="" title="" />
                <img src="http://cache4.asset-cache.net/gc/512311840-marcos-rojo-of-manchester-united-in-action-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXiYteYBtzvjF9MH75At39gLNd%2FCJWufGO5JS7G%2Bkuzg63wpi6YWNEUb26%2BFvnUTicpAifUFbUjaDf5h%2Fpfqjpfw%3D" alt="" title="" />
                <img src="http://cache3.asset-cache.net/gc/510830074-memphis-depay-of-manchester-united-in-action-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXhr%2B50M4I1mAzt6JAhRl7GVYhJL7DV6KsG3%2BEv%2FuT%2BEHivrlg5oNN%2FgO1qD%2B2bIekKBISitsiIGZVVHosqJ29uw%3D" alt="" title="" />
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQkLOE8MlMnToTT9pgLjyJfTDmfC5uVAR-UXcGyAQQeDvVUa64Y" alt="" title="" />
                <img src="http://img.bleacherreport.net/img/images/photos/003/563/729/hi-res-52964e00c623987c42a05a5d46d42b47_crop_north.jpg?w=630&h=420&q=75" alt="" title="" />
                <img src="https://i.ytimg.com/vi/JDjYnHmSoys/maxresdefault.jpg" alt="" title="" />
                <img src="http://ukbuzz.wordpress.eurosport.com/wp-content/uploads/sites/11/2015/08/RTX1NKDC-1170x658.jpg" alt="" title="" />
                <img src="http://www.manutd.com/~/media/C323E9C3774B4C33B5203694CFFA3330.ashx?w=1280&h=720" alt="" title="" />
                <img src="http://www.squawka.com/news/wp-content/uploads/2015/08/4658933.jpg" alt="" title="" />
                <img src="http://www.manutd.com/~/media/EEBDC2AF5A4C4D70AFFBD9963DB77F43.ashx?w=1280&h=720" alt="" title="" />
                <img src="http://a.espncdn.com/combiner/i/?img=/media/motion/ESPNi/2016/0112/int_160112_INET_FC_MAN_U_REVIEW/int_160112_INET_FC_MAN_U_REVIEW.jpg&w=738&site=espnfc" alt="" title="" />
                <img src="http://b.smimg.net/15/32/640x480/tottenham-hotspur-kyle-walker.jpg" alt="" title="" />
                <img src="http://sitedeaposta.net/wp-content/uploads/2015/08/manchester-united-champions-lague-2015.jpg" alt="" title="" />
                <img src="http://images.en.yibada.com/data/images/full/51090/manchester-united-will-be-looking-to-continue-their-unbeaten-run-in-the-2015-2016-premier-league.jpg?w=685" alt="" title="" />
                <img src="https://www.calendarclub.co.uk/~/media/productimages/16/06/160631_main.jpg" alt="" title="" />
                <img src="http://cache4.asset-cache.net/gc/505557358-will-keane-of-manchester-united-u21s-in-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXvJJKWr2JohaEb2FkqLnZ2B%2BQwFVTkCWZI1RIvLpQrSKxtJZ4UBFSyPMJaW49Qi4UuFgL3skaYstOAslZIC152I%3D" alt="" title="" />
                <img src="http://cache4.asset-cache.net/gc/512311840-marcos-rojo-of-manchester-united-in-action-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=X7WJLa88Cweo9HktRLaNXiYteYBtzvjF9MH75At39gLNd%2FCJWufGO5JS7G%2Bkuzg63wpi6YWNEUb26%2BFvnUTicpAifUFbUjaDf5h%2Fpfqjpfw%3D" alt="" title="" />
            </div>
        </div>
    </div>
    <footer>
        <h4>
            Roberto Dereșu &copy; 2016
        </h4>
    </footer>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Header.js"></script>
    <script type="text/javascript" src="~/Scripts/Gallery.js"></script>
</body>
</html>